//bg
$c: #766ef3;
$c1: #00c4cc;
$c2: #5b4ff0;
$c3: #212934;
$c4: #3f4856;
$c5: #d0d0d0;
$c6: #ebeced;
$c7: #95a0b2;

//color
$f: #fff;
$f1: #8896a3;
$f2: #d0d0d0;
$f3: #6f6f6f;
$f4: #4b3eef;
$f5: #ffad09;
$f6: #766ef3;
$f7: #000000;
$f8: #40454c;

//vue color
$vue-dark-blue: #2c3e50;
$vue-light-green: #42b983;

//element color
$el-main-font: #303133;
$el-general-font: #606266;
$el-sub-font: #909399;
$el-void-font: #C0C4CC;

//bsl
$bsl-purple: #6757f3;

/*botton*/
$bf: #fff;